* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =============common============ */

a {
  text-decoration: none;
}
:root {
  --font--family: Poppins;
  --primary--color: #1ebfc1;
}
.main-content {
  width: 1171px;
  margin: 0 auto;
  max-width: calc(100%-48px);
}

.btn {
  display: inline-flex;
  width: 108px;
  height: 48px;
  align-items: center;
  justify-content: center;
  color: #494949;
}

/* ============header============= */

.header-fixed {
  position: sticky;
  top: 8px;
}
.header-fixed .content {
  margin-top: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-fixed .img {
  margin-left: 9.78px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 127px;
  height: 37px;
}
.header-fixed .nav {
  margin-left: 244px;
}

.header-fixed .nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
.header-fixed .nav li a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.header-fixed .nav li a:hover {
  color: black;
}

.header-fixed .action {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 177px;
}
.header-fixed .btn-header:hover {
  color: var(--primary--color);
  border-radius: 6px;
  border: 1px solid var(--primary--color);
}

/* ============hero left============= */

.hero .body {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.hero .body .hero-desc p:first-child {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .body .hero-desc p:nth-child(2) {
  margin-right: 71px;
  margin-top: 18px;
  width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}
.hero .body .hero-desc p:nth-child(3) {
  margin-top: 46px;
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
}
.hero .btn-play {
  margin-top: 52px;
}
.hero .btn-play .btn-start {
  padding: 20px 41px;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.hero .hero-desc button {
  margin-top: 3px;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
}

/* ============hero right============= */
.hero .hero-media .main-img {
  width: 100%;
  background-color: #e0f7f6;
}

.hero .hero-media {
  position: relative;
}
/* ============hero right item1============= */
.hero .hero-media .block1 {
  width: 157px;
  height: 75px;
  display: flex;
  top: 149px;
  left: -40px;
  position: absolute;
  align-items: center;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}
.hero .hero-media .block1 p {
  margin-left: 16px;
  width: 55px;
  color: #0d1111;
  font-size: 10px;
  font-weight: 500;
}
.hero .hero-media .block1 .book {
  position: relative;
}

.hero .hero-media .block1 .book-line {
  position: absolute;
  width: 77.7%;
  height: 4px;
  background-color: #fff;
  border-radius: 999px;
  left: 11%;
  top: 70%;
}
/* ============hero right item2============= */
.hero .hero-media .item2 {
  display: flex;
  width: 124px;
  height: 132px;
  position: absolute;
  background: #ffffff;
  bottom: 46px;
  left: -65px;
  justify-content: center;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-media .item2 p {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero .hero-media .item2 .schedule-card .line {
  margin-top: 16px;
  position: relative;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}
.hero .hero-media .item2 .schedule-card .line:last-child {
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  margin-left: 24px;
}
.hero .hero-media .item2 .schedule-card span.line1 {
  position: absolute;
  width: 39px;
  height: 6px;
  border-radius: 3px;
  background: #fb9899;
}

.hero .hero-media .item2 .schedule-card span.line2 {
  position: absolute;
  width: 51px;
  height: 6px;
  border-radius: 3px;
  background: #fb9899;
}
.hero .hero-media .item2 .schedule-card span.line3 {
  position: absolute;
  width: 33px;
  height: 6px;
  border-radius: 3px;
  background: #fb9899;
}

/* ============hero right item3============= */

.hero .hero-media .desc-block .block3 {
  position: absolute;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
  bottom: 41px;
  right: 45px;
}

.hero .hero-media .desc-block .block3 p {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 17px;
  margin-left: 35px;
}

.hero .hero-media .desc-block .block3 .avatar {
  display: flex;
  margin-left: 35px;
  margin-top: 8px;
  align-items: center;
}
.hero .hero-media .desc-block .block3 .avatar .ava {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero .hero-media .desc-block .block3 .avatar img + img {
  margin-left: -14px;
}
.hero .hero-media .desc-block .block3 .avatar .ava.ava1 {
  background-color: #1ebfc1;
}
.hero .hero-media .desc-block .block3 .avatar .ava.ava2 {
  background-color: #ffc147;
}
.hero .hero-media .desc-block .block3 .avatar .ava.ava3 {
  background-color: #ff947a;
}
.hero .hero-media .desc-block .block3 .avatar .ava.ava4 {
  background-color: #bf83ff;
}
.hero .hero-media .desc-block .block3 .avatar p {
  display: flex;
  margin: 0 0 0 -14px;
  width: 33px;
  height: 33px;
  background-color: #1ebfc1;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* ========================================features================================== */

.features .content-ft {
  width: 1024px;
  height: 559px;
  background-color: #fff;
  margin-top: 130px;
}

.features .content-ft > p:first-of-type {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.features .content-ft > p:nth-of-type(2) {
  margin-top: 18px;
  width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.features .content-ft > p:nth-of-type(3) {
  width: 590px;
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}
.features .content-ft .block-ft {
  margin-top: 80px;
  display: flex;
  gap: 209px;
}
.features .content-ft .block-ft .block p:first-of-type {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}
.features .content-ft .block-ft .block p:nth-of-type(2) {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68;
}
/* ========================================course================================== */

.course .main-content {
  margin-top: 130px;
  width: 1171px;
  height: 778px;
}
.course .main-content .content-c {
  position: relative;
}
.course .main-content .content-c > p:first-of-type {
  width: 87px;
  height: 18px;
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.course .main-content .content-c > p:nth-of-type(2) {
  width: 356px;
  height: 63px;
  margin-top: 18px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
}
.course .main-content .content-c .view p {
  height: 64px;
  width: 525px;
  margin-top: 19px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}
.course .main-content .content-c .view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course .main-content .content-c .view a {
  width: 119px;
  height: 21px;
  right: 0;
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* ==================course block=================== */

.course .main-content .content-c .block {
  display: flex;
  margin-top: 79px;
  gap: 47px;
}
.course .main-content .content-c .block .item {
  position: relative;
}
.course .main-content .content-c .block .item .media {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.6;
  background: #d0efed;
  object-fit: cover;
}
.course .main-content .content-c .block .item .desc {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}
.course .main-content .content-c .block .item .desc > p:first-of-type {
  margin-left: 42px;
  margin-top: 18px;
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  height: 33px;
  width: 210px;
}
.course .main-content .content-c .block .item .desc > p:nth-of-type(2) {
  margin-left: 42px;
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.4rem;
  width: 88px;
  height: 33px;
}
.course .main-content .content-c .block .item .desc > p:nth-of-type(2) strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}
.course .main-content .content-c .block .item .desc > p:nth-of-type(3) {
  color: #9da6a5;
  margin-top: 6px;
  margin-left: 42px;
  font-size: 1.4rem;
  height: 21px;
}
.course-dot {
  margin-top: 18px;
  height: 21px;
  margin-left: 42px;
  display: flex;
  gap: 10px;
}
.course-dot span {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}
.course-dot span::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 999px;
  margin-right: 10px;
}

/* ========================================stats================================== */

.stats .content-stats {
  gap: 200px;
  margin: 265px auto 0;
  display: flex;
  width: 862px;
  height: 131px;
  justify-content: center;
  align-items: center;
}
.stats .content-stats p:first-child {
  text-align: center;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
}
.stats .content-stats p:nth-child(2) {
  margin-top: 11px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}

/* ========================================students================================== */

.students .content-stu {
  margin-top: 264px;
  display: flex;
  height: 481px;
}
.students .content-stu .desc > img {
  width: 36px;
  height: 29px;
  margin-top: 37px;
}
.students .content-stu .desc > p:first-of-type {
  margin-top: 26px;
  color: #5d6564;
  width: 419px;
  font-size: 3.2rem;
  line-height: 1.5;
}
.students .content-stu .desc > p:nth-of-type(2) {
  margin-top: 33px;
}
.students .content-stu .desc span {
  color: #767e7e;
  font-size: 1.6rem;
}
.students .content-stu .desc strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}
.students .content-stu .desc strong::before {
  content: "";
  width: 8px;
  height: 2px;
  background: #070707;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.students .content-stu .desc .action {
  margin-top: 52px;
  display: inline-flex;
  gap: 30px;
}

.students .content-stu .desc .btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid;
  background: #2ac9bf;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.8rem;
}

.students .content-stu .ava {
  position: relative;
}

.students .content-stu .ava .ava1 {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 92px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  top: 0;
  left: 216px;
  background: #1ebfc1;
}
.students .content-stu .ava .ava2 {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 78px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  top: 258px;
  left: 72px;
  background: #ffc147;
}
.students .content-stu .ava .ava3 {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 78px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  bottom: 0;
  left: 264px;
  background: #ff947a;
}
.students .content-stu .ava .ava4 {
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 235px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  left: 345px;
  top: 25%;
  background: #ff8282;
}
.students .content-stu .ava .ava5 {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 92px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  bottom: 29px;
  left: 641px;
  background: #b1dfdc;
}

.students .content-stu .ava .ava6 {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 92px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  top: 19px;
  left: 641px;
  background: #bf83ff;
}

/* ========================================students================================== */

.ready .content-ready {
  margin: 130px auto 0;
  position: relative;
  width: 1440px;
  height: 272px;
  background: #def6f5;
}

.ready .content-ready > p:first-of-type {
  position: absolute;
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  width: 420px;
  left: 135px;
  top: 76px;
}
.ready .content-ready > p:nth-of-type(2) {
  top: 157px;
  position: absolute;
  color: #767e7e;
  font-size: 1.8rem;
  width: 397px;
  left: 135px;
}
.ready .content-ready button {
  position: absolute;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #2ac9bf;
  top: 96px;
  right: 289px;
}
.ready .content-ready button a {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
/* ========================================footer================================== */
.footer .content-footer {
  width: 1440px;
  color: #535353;
  margin: 0 auto 0;
}
.footer .content-footer .column {
  display: flex;
  gap: 144px;
}
.footer .content-footer .logo {
  width: 127px;
  height: 37px;
  margin-top: 131px;
  margin-left: 135px;
}
.footer .content-footer ul {
  margin-top: 131px;
}
.footer .content-footer ul li:first-child {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}
.footer .content-footer ul li:nth-child(n + 2) {
  color: #535353;
  font-size: 1.6rem;
  margin-top: 25px;
}
.footer .content-footer ul li a {
  color: #535353;
  font-size: 1.6rem;
}
.footer .content-footer .column4 li:nth-child(n + 2) {
  display: flex;
  gap: 9px;
  align-items: center;
}
.footer .content-footer .column4 li:nth-child(n + 2) img {
  width: 20px;
  height: 20px;
}
.footer .content-footer .copyright {
  color: #b0b5b4;
  font-size: 1.8rem;
  margin-left: 478px;
  margin-top: 80px;
}
